.bg-login1-image {
    background-position: center;
    background-size: cover;
  
  }
  
  .bg-register1-image {
    background-position: center;
    background-size: cover;
  }
  
  .bg-password1-image {
    background-position: center;
    background-size: cover;
  }